<div id="container">
  
            <h1>{{nome}}</h1> 
        <button class="botao"  mat-button (click)="voltar()">
                <mat-icon aria-hidden="false" [ngStyle]="{'color':'white'}">keyboard_return</mat-icon>
        </button>

        <div class="caixa-texto">
            <a>{{descricao}}</a>
        </div>
   
       <button class="botao"  mat-button (click)="voltar()">
                <mat-icon aria-hidden="false" [ngStyle]="{'color':'white'}">keyboard_return</mat-icon>
        </button>
</div>

